<!--<div class="">
        <a class="btn btn-primary btn-sm" href="#!/templates" role="button">Back</a>
</div>-->
    
<div class="container-fluid details-container">
   
    <br>
    <a class="btn btn-primary btn-sm" href="#!/templates" role="button">Back</a>
    <br>
    <br>
    <div class="row">
        <div class="col-4 template-img ">
            <img class="mx-auto" ng-src="../img/{{template.image.original}}"> 
        </div>
        <div class="col-8 ">
            <h3 class="mb-3">{{template.name}} </h3>
            <p class="pr-5">{{template.description}}
            </p>
           <p class="lead">Price &#x20b9; {{template.price}}</p>
            <a class="btn btn-danger btn-md "  href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i>  Get it Now</a>
            <p class="mt-2"><small>Questions before or after purchase? Get <a href="#">help</a> at any time!</small></p>
        </div>
    </div>
</div>