<br>
<br>
<div class="container">
    <div class="row templates">
            <div class="col-md-3 " ng-repeat="template in templates">
                <div class="card border-0 mx-auto" >
                     <a href="#!/templates/{{template.id}}"><img class="img-thumbnail card-img-top" ng-src="../img/{{template.image.thumbnail}}"></a>
                    <div class="card-text border-0 text-center pt-1"><h6>{{template.name}}</h6></div>
                </div>
            </div>
      <!--  <div class="col-md-4">
            <div class="card border-0 mx-auto" >
                <a href="#!/templates/2"><img class="img-thumbnail card-img-top " src="../img/drop-min.jpg"></a>
                <div class="card-text border-0 text-center pt-1">Drop</div>
            </div>
        </div>
        <div class="col-md-4">
                <div class="card border-0 mx-auto" >
                    <a href="#!/templates/3"><img class="img-thumbnail card-img-top " src="../img/goarch-min.jpg"></a>
                    <div class="card-text border-0 text-center pt-1">Goarch</div>
                </div>
        </div>
        <br><br>
        <div class="col-md-4  ">
            <div class="card border-0 mx-auto" >
                 <a href="#!/templates/1"><img class="img-thumbnail card-img-top " src="../img/brendon-min.jpg"></a>
                <div class="card-text border-0 text-center pt-1">Brendon</div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card border-0 mx-auto" >
                <a href="#!/templates/2"><img class="img-thumbnail card-img-top " src="../img/drop-min.jpg"></a>
                <div class="card-text border-0 text-center pt-1">Drop</div>
            </div>
        </div>
        <div class="col-md-4">
                <div class="card border-0 mx-auto" >
                    <a href="#!/templates/3"><img class="img-thumbnail card-img-top " src="../img/goarch-min.jpg"></a>
                    <div class="card-text border-0 text-center pt-1">Goarch</div>
                </div>
        </div>
        <br><br>
        <br><br>
        <div class="col-md-4  ">
            <div class="card border-0 mx-auto" >
                 <a href="#!/templates/1"><img class="img-thumbnail card-img-top " src="../img/brendon-min.jpg"></a>
                <div class="card-text border-0 text-center pt-1">Brendon</div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card border-0 mx-auto" >
                <a href="#!/templates/2"><img class="img-thumbnail card-img-top " src="../img/drop-min.jpg"></a>
                <div class="card-text border-0 text-center pt-1">Drop</div>
            </div>
        </div>
        <div class="col-md-4">
                <div class="card border-0 mx-auto" >
                    <a href="#!/templates/3"><img class="img-thumbnail card-img-top " src="../img/goarch-min.jpg"></a>
                    <div class="card-text border-0 text-center pt-1">Goarch</div>
                </div>
        </div>-->
    </div>
</div>
