<br>
<br>
<div class="container">
    <div class="row templates">
            <div class="col-md-3 " ng-repeat="template in templates">
                <div class="card border-0 mx-auto" >
                     <a href="#!/templates/{{template.id}}"><img class="img-thumbnail card-img-top" ng-src="../img/{{template.image.thumbnail}}"></a>
                    <div class="card-text border-0 text-center pt-1"><h6>{{template.name}}</h6></div>
                </div>
            </div>
    </div>
</div>
